
<!-- Start Project Section -->
  <article id="project">
    <div>
      <div class="pattern"></div>
      <div class="gradient"></div>
    </div>
    <div class="container">
    
      <!-- Start Project Description -->
      <div class="row">
        <div class="span8">
          <h1 class="color-text"><%= @entrepreneur.first_name %></h1>
          <h4><%= @entrepreneur.usertype %></h4>
        </div>
      </div>
      <div class="row">
        <div class="span8">
          <p class="project-info"></span></p>
          
        </div>
        <div class="span4">
          
        </div>
      </div>
      <div class="row"><div class="span12 line"></div></div>
      <div class="row project-description">
        <div class="span8">
         <h4 class="margin">available opportunities</h4>
         </div>
        <div class="span4 share">
          <%= image_tag @entrepreneur.image (:medium) %>
          <div class="up-title hidden-phone">social</div>
          
        </div>
      </div>
      <!-- End Project Description -->
      
      <!-- Start Case -->
      <section id="case">
        <div class="row">
          <div class="span8">
            
          </div>
          <div class="span4 image-desc">

            
          </div>
        </div>
      
        
        
      </section>
       <div class="span12">
      </div>
      <!-- End Case -->
    </div>

  </article>
  <!-- End Project Section -->


     




