<%= simple_form_for [@entrepreneur, @opportunity, @applicant] do |f| %>
  <% if @applicant.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @applicant.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="span12">
    <%= f.input :content, as: :text, input_html: { rows: "2" }, label: "Please enter the reason why you want this badly" %>
    <%= f.submit "Apply", class: "btn large color" %>
</div>
    

<% end %>