<div class="container">
	<div class="row">

		<div class="span12">

<section id="title" class="container">
		<div class="row">
			<div class="span12">
				<h5><span class="color-text">new</span> startup</h5>
			</div>
		</div>
	</section>

<%= render 'form' %>


</div>

</div>
<div class="span12">
<%= link_to 'Back', startups_path %>
</div>

</div>
