<h3>Hi <%= @entrepreneur.first_name %></h3>

<h5>Thankyou for registering</h5>
<p>when we're ready well make sure to send you an awesome email!</p>

<p>We appreciate your patience</p>

<p>Kind Regards</p>
<p>Tiago</p>
<p>CEO</p>
<p>Couchkick</p>
