<div class="container">
  <div class="row">

    <div class="span12">

<section id="title" class="container">
    <div class="row">
      <div class="span12">
        <a class="heart-circle" href="portfolio.html"><i class="icon-heart"></i></a>
        <h5><span class="color-text">frequently asked questions</span></h5>
      </div>
    </div>
  </section>
<div class="toggle">
					<div class="toggle-wrp">
						<h6>Entrepreneurs <i class="icon-plus"></i><i class="icon-minus"></i></h6>
						<div style="display: none;" class="toggle-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.</p>
							<p>Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.</p>
						</div>
					</div>
					<div class="toggle-wrp">
						<h6>Startups <i class="icon-plus"></i><i class="icon-minus"></i></h6>
						<div class="toggle-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.</p>
							<p>Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.</p>
						</div>
					</div>
					<div class="toggle-wrp">
						<h6>Opportunities <i class="icon-plus"></i><i class="icon-minus"></i></h6>
						<div class="toggle-content">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor, rhoncus rhoncus sem.</p>
							<p>Aliquam volutpat arcu et nibh mollis eleifend pharetra lorem scelerisque. Donec vel enim purus, id viverra neque. Cras in velit ante, eget pellentesque sem. Duis tincidunt erat quam. Etiam placerat sapien elit.</p>
						</div>
					</div>
				</div>

				</div>

</div>

</div>