<% if entrepreneur_signed_in? %>

<%= render 'pages/dashboard' %>

<% else %>
	<!-- Start Hero Carousel -->
	<section class="hero">
		<div class="videohome">
			<iframe src="http://player.vimeo.com/video/60211897" width="600" height="335" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		
	</div>
	</section>
	</section>
	
	<!-- End Hero Carousel -->
	
	<!-- Start Intro Block -->
	<section class="intro container">
		<div class="row">
			<div class="span12">

				<p>we help <%= link_to "entrepreneurs", entrepreneurs_path %> find each other</p>
				<p><%= link_to image_tag("../img/fb-connect-large.png"), root_url + 'entrepreneurs/auth/facebook' %></p>
			</div>
		</div>
	</section>
	<!-- End Intro Block -->
			
	<!-- Start Services Icons -->
	<section id="services" class="container">
		<div class="row">
			<div class="span6">
				<div class="service-icon icon1"></div>
				<div class="service-desc">
					<h5>Matchmaking</h5>
					<p>Find the perfect co-founder or the perfect person to help you take your project off the ground</p>
				</div>
			</div>
			<div class="span6">
				<div class="service-icon icon2"></div>
				<div class="service-desc">
					<h5>Recruitment</h5>
					<p>Get and post the hottest jobs in your industry. Equity included</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="service-icon icon3"></div>
				<div class="service-desc">
					<h5>Mentoring</h5>
					<p>Find the best advice from the top mentors around the world.</p>
				</div>
			</div>
			<div class="span6">
				<div class="service-icon icon4"></div>
				<div class="service-desc">
					<h5>Events</h5>
					<p>Find or create events around your city. Make people love you!</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Icons -->	
	
	<!-- Start Social Panel -->
	<section id="social-data">
		<div class="container">
			<div class="row">
				<div class="span4">
					<h5>Contacts</h5>
					<address>
						<strong>Address:</strong> UPTEC - TECH<br>Rua Actor Ferreira da Silva 100<br>4200-298<br>Porto Portugal<br>
						<strong>E-mail:</strong> <a href="#">info@couchkick.com</a>						
					</address>
					<div class="follow">
						<p>Follow us:</p>
						<ul class="social-icons">
							<li><a href="#"><span><i class="icon-facebook"></i></span></a></li>
							<li><a href="#"><span><i class="icon-twitter"></i></span></a></li>
							<li><a href="#"><span><i class="icon-vimeo"></i></span></a></li>
							<li><a href="#"><span><i class="icon-linkedin"></i></span></a></li>
						</ul>
					</div>
					<hr class="visible-phone">
				</div>
				<div class="span4">
					<div id="twitter-feed"></div>
					<hr class="visible-phone">	
				</div>
				<!--
				<div class="span4">
					<h5>Photostream</h5>
					<ul id="basicuse" class="photostream thumbs unstyled"></ul>
				</div>-->
			</div>
		</div>
	</section>
	<!-- End Services Icons -->
	
	<!-- Start Clients Block -->
	<div id="clients" class="clients container hidden-phone">
		<div class="row">
			<div class="span12">
				<div class="vertical-align">
					<ul class="unstyled">
						<li><a href="#"><img src="../img/clients/logo1.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo2.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo3.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo4.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo5.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo1.png" alt="" /></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Clients Block -->

	<% end %>
			
