
	<!-- Start Hero Carousel -->
	<section class="hero">
		
			<article>
				<img class="slider-image" src="../img/gray.jpg" alt="slide 1" />
				<!--
				<div class="contents">
					<h4 class="color-text">Responsive template</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem.</p>
				</div>-->
			</article>

		
	</section>
	
	<!-- End Hero Carousel -->
	
	<!-- Start Intro Block -->
	<section class="intro container">
		<div class="row">
			<div class="span12">
				<p>we help <a href="#">entrepreneurs</a> find each other</p>

			</div>
		</div>
	</section>
	<!-- End Intro Block -->
			
	<!-- Start Services Icons -->
	<section id="services" class="container">
		<div class="row">
			<div class="span6">
				<div class="service-icon icon1"></div>
				<div class="service-desc">
					<h5>Matchmaking</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas neque diam, luctus at laoreet in, auctor ut tellus. Etiam enim lacus, ornare et tempor et, rhoncus rhoncus sem.</p>
				</div>
			</div>
			<div class="span6">
				<div class="service-icon icon2"></div>
				<div class="service-desc">
					<h5>Recruitment</h5>
					<p>Praesent rhoncus nunc vitae metus condimentum viverra. Fusce sed est orci, vel condimentum felis. Suspendisse ullamcorper vulputate sagittis. Quisque ullamcorper euismod diam.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="span6">
				<div class="service-icon icon3"></div>
				<div class="service-desc">
					<h5>Mentoring</h5>
					<p>Donec non placerat lacus. Cras mollis enim tempus lacus mollis sit amet mattis tortor posuere. Aenean pellentesque accumsan iaculis. Donec gravida nisl vel est pharetra mattis.</p>
				</div>
			</div>
			<div class="span6">
				<div class="service-icon icon4"></div>
				<div class="service-desc">
					<h5>Events</h5>
					<p>Cras sed lectus posuere augue dictum bibendum. Sed lectus quam, ullamcorper ac tincidunt eget, scelerisque a velit. Curabitur non nulla non sapien vestibulum adipiscing quis ipsum.</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Icons -->	
	
	<!-- Start Social Panel -->
	<section id="social-data">
		<div class="container">
			<div class="row">
				<div class="span4">
					<h5>Contacts</h5>
					<address>
						<strong>Address:</strong> 77a First Street, London, BC1A 4RT, UK<br>
						<strong>Telephones:</strong> +44 123-457-7890, 321-765-0987<br>
						<strong>E-mail:</strong> <a href="#">hello@rudermann@co.uk</a>						
					</address>
					<div class="follow">
						<p>Follow us:</p>
						<ul class="social-icons">
							<li><a href="#"><span><i class="icon-facebook"></i></span></a></li>
							<li><a href="#"><span><i class="icon-twitter"></i></span></a></li>
							<li><a href="#"><span><i class="icon-vimeo"></i></span></a></li>
							<li><a href="#"><span><i class="icon-pinterest"></i></span></a></li>
							<li><a href="#"><span><i class="icon-linkedin"></i></span></a></li>
						</ul>
					</div>
					<hr class="visible-phone">
				</div>
				<div class="span4">
					<div id="twitter-feed"></div>
					<hr class="visible-phone">	
				</div>
				<div class="span4">
					<h5>Photostream</h5>
					<ul id="basicuse" class="photostream thumbs unstyled"></ul>
				</div>
			</div>
		</div>
	</section>
	<!-- End Services Icons -->
	
	<!-- Start Clients Block -->
	<div id="clients" class="clients container hidden-phone">
		<div class="row">
			<div class="span12">
				<div class="vertical-align">
					<ul class="unstyled">
						<li><a href="#"><img src="../img/clients/logo1.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo2.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo3.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo4.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo5.png" alt="" /></a></li>
						<li><a href="#"><img src="../img/clients/logo1.png" alt="" /></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- End Clients Block -->
			
