

  <div class="span3">
				<div class="pricing-table">
					<h5>Standart</h5>
					<div class="pt-price">
						<%= findentrepreneur.whatfor %>
					</div>
					<ul>
						<li><%= findentrepreneur.location %></li>
						<li><%= findentrepreneur.usertype %></li>
						<li><%= findentrepreneur.tag_list %></li>
					</ul>
					<a href="#" class="btn ">Apply</a>
				</div>
			</div>