<div class="container">
  <div class="row">

    <div class="span12">

<section id="title" class="container">
    <div class="row">
      <div class="span12">
        <h5><span class="color-text">my</span> opportunities</h5>
      </div>
    </div>
  </section>

<%= render @opportunities %>

</div>

</div>
<div class="span12">
<%= link_to 'New Opportunity', new_entrepreneur_opportunity_path(@currententrepreneur), class: "btn large color" %>
</div>
</div>