	<!-- Start Footer -->
	<footer class="container">
		<div class="row">
			<div class="span12">
				<p>© 2012 <a href="index.html">Rudermann</a>. Powered by WordPress.<br>
					<span class="theme-author"><a href="http://themes.tvda.eu" target="_blank">Ruderman Template</a> by <a href="http://themes.tvda.eu" target="_blank">TVDA</a>.</span>
				</p>
				<!-- Start Footer Navigation -->
				<nav class="hidden-phone">
					<ul class="pull-right">
						<li><a class="active" href="index.html">Home</a></li>
						<li><a href="shrotcodes.html">Shortcodes</a></li>
						<li><a href="icons.html">Icons</a></li>
						<li><a href="retina.html">Retina Ready</a></li>
						<li><a href="responsive.html">Responsive</a></li>
						<li><a href="cute-slider.html">Cute Slider</a></li>
					</ul>
				</nav>
				<!-- End Footer Navigation -->
			</div>
		</div>
	</footer>

