<!-- Start Header -->
	<header>
		<div class="container">
			<div class="row">
				<div class="span5">
					<div id="logo">
						<%= link_to "couchkick", root_path %>
						<p>the entrepreneur matchmaker</p>
					</div>
				</div>
				<div class="span7">
					<!-- Start Navigation -->
					<nav>
						<ul id="navigation" class="pull-right hidden-phone">
						

							<li>
								<a href="#">jobs & ideas</a>
							</li>
							<li>
								<a href="#">entrepreneurs</a>
							</li>
							<li>
								<%= link_to "startups", startups_path, class: "active" %>
							</li>
						</ul>
					</nav>
					<!-- End Navigation -->
				</div>
			</div>
		</div>
	</header>
	<!-- End Header -->
